<!DOCTYPE html>
<html lang="en" ng-app>
 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">

 <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <title>AngularJS iTunes</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="https://kit.fontawesome.com/93d605acff.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
 <link rel="stylesheet" href="./styles.css" media='all' rel='stylesheet' type='text/css' >
 <style>
   table {
      margin: 0 auto;
   }
</style>
   <script>

   $(document).on('click', '#voucher', function() {
      console.log("clicked")
      var $this = $(this),
         $ul = $this.parent().find('> ul');

        $ul.toggle();

   });

   </script>

</head>
<body ng-controller="iTunesController">
<nav>
   <div class="brand">
      <a href="/"><img src="./assets/images/logo.png" alt="logo" id="logo"></a>     
   </div>

   <div class="nav--search">
      <form action="#" name="search" ng-submit="searchiTunes(artist)">
         <!-- Artist/band name required, use the ng-model 
         directive to pass the artist name back into the
         controller/model -->
         <input type="search" required ng-model="artist"  placeholder="&#xF002; Search" style="font-family: Arial, 'FontAwesome'"/>
         <!-- <i class="fa fa-search"></i> -->
         <button type="submit" value="Search"/><i class="fas fa-play"></i></button>
         </form>
   </div>

   <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/search">SEARCH</a></li>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/contact">CONTACT</a></li>
   </ul>   
</nav>

 <section>
   <div class="checkout">

         <div class="checkout--forms">
            <div class="checkout--header">
            <p>
               payment details
            </p>
            <ul id="cardCompany">
               <li><i class="fab fa-cc-mastercard"></i></li>
               <li><i class="fab fa-cc-paypal"></i></li>
               <li><i class="fab fa-cc-visa"></i></li>
               <li><i class="fab fa-cc-apple-pay"></i></li>
            </ul>
          </div>

            <div>
            <input type="text" placeholder="CARD ON NAME" id="card--name">
            </div>
            <div>
            <input type="text" placeholder="CARD NUMBER" id="card--num">
            <input type="text" placeholder="EXPIRY">
            <input type="text" placeholder="CVV">
            </div>


            <p>
               Billing Address
            </p>

            <div class="checkout--address">
               <input type="text" placeholder="STREET ADDRESS">
               <input type="text" placeholder="CITY">
            </div>

            <div class="checkout--address">
               <input type="text" placeholder="COUNTRY">
               <input type="text" placeholder="POST CODE">
            </div>
           
            <div class="checkout--personal">
               <input type="text" placeholder="YOUR EMAIL">
               <input type="text" placeholder="YOUR FULL NAME">
            </div>

            <div class="checkout--footer">
            <a href="#">PRIVIOUS STEP</a>   
            <button> NEXT </button>
           </div>

         </div>


   </div>

 <!-- show an error if there's a search error -->
 {{ error }}

 <table ng-show="songs" class="search--results">

   <thead>
   <tr>
   <th>Album Artwork</th>
   <th>Track</th>
   <th>Artist name</th>
   <th>Preview&nbsp;</th>
   <th>Price</th>
  
   </tr>
   </thead>
   <tbody>
   <!-- ng-repeat directive to loop over each 
   song in the songs list. -->
   <!-- The song data is loaded into objects for
   easy access. Just call on the attributes
   you need. -->
   <tr ng-repeat="song in songs">
   <!-- ng-src lets you load imgs when data
   is present. -->
     <td><img ng-src="{{song.artworkUrl100}}" alt="{{song.collectionName}}"/></td>
     <td>{{song.trackName}}</td>
     <td>{{song.artistName}}</td>
     <td><a href="{{song.previewUrl}}">Play</a></td>
     <td>{{song.collectionPrice}}</td>
  
  
     </tr>
     </tbody>
     </table>

 </section> 
 <footer>
   <p>
      2021 (C) COPYRIGHT - GETMEDIA
   </p>
   <ul>
      <li>
        <a href="#"> <i class="fab fa-instagram"></i> </a>
      </li>
      <li>
         <a href="#">  <i class="fab fa-facebook"></i> </a>
      </li>
      <li>
         <a href="#">  <i class="fab fa-twitter"></i> </a>
      </li>
   </ul>
   </footer>
 <!-- the script which will contain the iTunesController -->
<script src="./iTunesController.js"></script>

</body>
</html>