<!DOCTYPE html>
<html lang="en" ng-app>
 <head>
 <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <title>AngularJS iTunes</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script src="https://kit.fontawesome.com/93d605acff.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
 <link rel="stylesheet" href="./styles.css" media='all' rel='stylesheet' type='text/css'>
 <style>
   table {
      margin: 0 auto;
   }
</style>
</head>
<body ng-controller="iTunesController">
<nav>
   <div class="brand">
      <a href="/"><img src="./assets/images/logo.png" alt="logo" id="logo"></a>
   </div>

   <div class="nav--search">
      <form action="#" name="search" ng-submit="searchiTunes(artist)">
         <!-- Artist/band name required, use the ng-model 
         directive to pass the artist name back into the
         controller/model -->
         <input type="search" required ng-model="artist"  placeholder="&#xF002; Search" style="font-family: Arial, 'FontAwesome'"/>
         <!-- <i class="fa fa-search"></i> -->
         <button type="submit" value="Search"/><i class="fas fa-play"></i></button>
         </form>
   </div>

   <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/search">SEARCH</a></li>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/contact">CONTACT</a></li>
   </ul>   
</nav>

<div id="contact" style="margin-bottom: 90px;">

<h2>
   How can we help you today?
</h2>

<p class="contact--p">
   don’t be a stranger, share your idea with us.
</p>

<a href="#" class="contact--btn">Get in touch</a>


<div>
   <h4 id="contact--header"> Contact GETMEDIA </h4>
</div>

<form action="#">
<div id="contact--formfield">
<div id="contact--forms">
<input type="text" placeholder="YOUR EMAIL">
<input type="text" placeholder="YOUR FULL NAME">
<input type="text" placeholder="PHONE NUMBER">
</div>
<div id="contact--textarea">
   <textarea id="textarea" name="messages" rows="6" cols="50" >
      your message..
   </textarea>
</div>


</div>

<div id="contact--submit">

   <div class="checkbox">
<input type="checkbox" name="accept" id=""><label for="accept">I accept all terms and condition.</label>
   </div>

<button type="submit"> Send Enquiry  <i class="fas fa-arrow-right"></i></button> 

</div>

</form>


</div>  <!-- "#contact" -->


 {{ error }}
   
 <table ng-show="songs" class="search--results">

   <thead>
   <tr>
   <th>Album Artwork</th>
   <th>Track</th>
   <th>Artist name</th>
   <th>Preview&nbsp;</th>
   <th>Price</th>
  
   </tr>
   </thead>
   <tbody>
   <!-- ng-repeat directive to loop over each 
   song in the songs list. -->
   <!-- The song data is loaded into objects for
   easy access. Just call on the attributes
   you need. -->
   <tr ng-repeat="song in songs">
   <!-- ng-src lets you load imgs when data
   is present. -->
     <td><img ng-src="{{song.artworkUrl100}}" alt="{{song.collectionName}}"/></td>
     <td>{{song.trackName}}</td>
     <td>{{song.artistName}}</td>
     <td><a href="{{song.previewUrl}}">Play</a></td>
     <td>{{song.collectionPrice}}</td>
  
  
     </tr>
     </tbody>
     </table>
     
     <footer>
      <p>
         2021 (C) COPYRIGHT - GETMEDIA
      </p>
      <ul>
         <li>
           <a href="#"> <i class="fab fa-instagram"></i> </a>
         </li>
         <li>
            <a href="#">  <i class="fab fa-facebook"></i> </a>
         </li>
         <li>
            <a href="#">  <i class="fab fa-twitter"></i> </a>
         </li>
      </ul>
      </footer>
 <!-- the script which will contain the iTunesController -->
<script src="./iTunesController.js"></script>

</body>
</html>