<!DOCTYPE html>
<html lang="en" ng-app>
 <head>
 <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <title>AngularJS iTunes</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script src="https://kit.fontawesome.com/93d605acff.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
 <link rel="stylesheet" href="./styles.css" media='all' rel='stylesheet' type='text/css' >
   <style>
      table {
       margin: 0 auto;
      }
      #menu i {
         margin: 0; 
         padding: 0;
         z-index: 1;
      }
      #menu button {
      float: right;
      margin: 0;
      padding: 20px;
      right: 20px;
      border: 0;
      position: absolute;
      background-color: transparent;
      z-index: 0;
      }
      .dropdown-content {
         display: none;
         position: relative;
         background-color: #f9f9f9;
         min-width: 160px;
         z-index: 1;
         margin: 20px;
         }
         /* Links inside the dropdown */
         .dropdown-content a {
            float: left;
            color: black;
            padding: 0px 10px;
            text-decoration: none;
            display: block;
            text-align: left;
         }            
         .show {
            display: block;
            } 
   </style>

</head>
<body>
<nav>
   <div class="brand">
      <a href="/"><img src="./assets/images/logo.png" alt="logo" id="logo"></a>
      <span id="brand"> GETMEDIA </span>  
   </div>
   <div id="menu" class="dropdown">
     <button onclick="myFunction()" class="dropbtn"> <i class="fas fa-bars"></i> </button>
     <div id="myDropdown" class="dropdown-content">
      <a href="/search">SEARCH</a>
      <a href="/shop">SHOP</a>
      <a href="/contact">CONTACT</a>
    </div>
      <!-- <i class="fas fa-hamburger"></i> -->
   </div>
   <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/search">SEARCH</a></li>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/contact">CONTACT</a></li>
   </ul>   
</nav>
<div class="wrapper">
 <!-- use the ng-controller directive to scope
 this body to iTunesController -->
 <div ng-controller="iTunesController" class="bg">
   <!-- style="background-image: url('./assets/images/noise.png');" -->
   <div class="hero">
          
      <div class="hero--header">
            <h1>
               A new way to discover your music
            </h1>
            <p>
               Proident velit id excepteur aute Lorem id.
            </p>

            <div class="hero--menu">
               <a href="#" id="learnmore">Learn More</a>
               <a href="#" id="streaming">Streaming Now <i class="fas fa-caret-right"></i> </a>

            </div>
         </div>


   <div class="hero--searchBar">
      <img src="./assets/images/hero-1.png" alt="" id="heroimg" />
    <!-- show an error if there's a search error -->
    {{ error }}
    <!-- add form, use ng-submit directive to call
    searchiTunes, pass the artist -->
    <form action="#" name="search" ng-submit="searchiTunes(artist)">
    <!-- Artist/band name required, use the ng-model 
    directive to pass the artist name back into the
    controller/model -->
    <div class="hero--searchBar-frame">

    
    <input id="searchField" type="search" required ng-model="artist"  placeholder="&#xF002; Search" style="font-family: Arial, 'FontAwesome'"/>
    <!-- <i class="fa fa-search"></i> -->
    <button type="submit" value="Search"/>SEARCH</button>
   </div>
   <p style="font-size:12px; text-align: center;"> We have already collected  <strong style="color:aqua;">2,000+</strong> records with ITunes</p>
    </form>
   </div> <!-- hero--searchBar -->
   </div> <!-- hero -->

 <!-- ng-show directive to decide when to show results.
 In this case, we will show the songs when there
 are songs to show. -->
 <table ng-show="songs" class="search--results">

 <thead>
 <tr>
 <th>Album Artwork</th>
 <th>Track</th>
 <th>Artist name</th>
 <th>Preview&nbsp;</th>
 <th>Price</th>

 </tr>
 </thead>
 <tbody>
 <!-- ng-repeat directive to loop over each 
 song in the songs list. -->
 <!-- The song data is loaded into objects for
 easy access. Just call on the attributes
 you need. -->
 <tr ng-repeat="song in songs">
 <!-- ng-src lets you load imgs when data
 is present. -->
   <td><img ng-src="{{song.artworkUrl100}}" alt="{{song.collectionName}}"/></td>
   <td>{{song.trackName}}</td>
   <td>{{song.artistName}}</td>
   <td><a href="{{song.previewUrl}}">Play</a></td>
   <td>{{song.collectionPrice}}</td>


   </tr>
   </tbody>
   </table>
 </div> <!-- wrapper -->
         <footer>
         <p>
            2021 (C) COPYRIGHT - GETMEDIA
         </p>
         <ul>
            <li>
              <a href="#"> <i class="fab fa-instagram"></i> </a>
            </li>
            <li>
               <a href="#">  <i class="fab fa-facebook"></i> </a>
            </li>
            <li>
               <a href="#">  <i class="fab fa-twitter"></i> </a>
            </li>
         </ul>
         </footer>
 <!-- the script which will contain the iTunesController -->
      <script src="./iTunesController.js"></script>
      </div>
      <script>
            var btn = document.querySelector('.fa-bars');
            btn.addEventListener('click', function() {
             document.getElementById("myDropdown").classList.toggle("show");
              var myDropdown = document.getElementById("myDropdown");
              if (myDropdown.classList.contains('show')) {
                  myDropdown.classList.remove('show');
              }
         })
                var myFunction = function () {
               document.getElementById("myDropdown").classList.toggle("show");
                 }
                 window.onclick = function(e) {
                 if (!e.target.matches('.dropbtn')) {
                 var myDropdown = document.getElementById("myDropdown");
                   if (myDropdown.classList.contains('show')) {
                     myDropdown.classList.remove('show');
                   }
              }
          }  
     
      </script>

</body>
</html>