<!DOCTYPE html>
<html lang="en" ng-app>
 <head>
 <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <title>AngularJS iTunes</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script src="https://kit.fontawesome.com/93d605acff.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
 <link rel="stylesheet" href="./styles.css" media='all' rel='stylesheet' type='text/css' >
 </head>
<body ng-controller="iTunesController">
<nav>
   <div class="brand">
      <a href="/"><img src="./assets/images/logo.png" alt="logo" id="logo"></a>     
   </div>

   <div class="nav--search">
      <form action="#" name="search" ng-submit="searchiTunes(artist)">
         <!-- Artist/band name required, use the ng-model 
         directive to pass the artist name back into the
         controller/model -->
         <input type="search" required ng-model="artist"  placeholder="&#xF002; Search" style="font-family: Arial, 'FontAwesome'"/>
         <!-- <i class="fa fa-search"></i> -->
         <button type="submit" value="Search"/><i class="fas fa-play"></i></button>
         </form>
   </div>

   <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/search">SEARCH</a></li>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/contact">CONTACT</a></li>
   </ul>   
</nav>

 <!-- use the ng-controller directive to scope
 this body to iTunesController -->
 <div id="search">


   <h2>
      Let’s start deep dive
   </h2>
      
   <p> browse popular songs or search your favorite songs </p>

       <div id="genre" class="linear-fade"> 
       </div>    

 <!-- show an error if there's a search error -->
 {{ error }}


 <div ng-show="songs">
 <div ng-repeat="song in songs">
 <!-- ng-src lets you load imgs when data
 is present. -->
 <div><img ng-src="{{song.artworkUrl100}}" alt="{{song.collectionName}}"/></div>
 <div>{{song.trackName}}</div>
 <div>{{song.artistName}}</div>
 <div><a href="{{song.previewUrl}}">Play</a></div>
 <div>&#163;{{song.collectionPrice}}</div>

 </tr>
</div>
</div>

</div> 



<footer>

   <p>
      2021 (C) COPYRIGHT - GETMEDIA
   </p>
 
   <ul>
      <li>
         <i class="fab fa-instagram"></i>
      </li>
      <li>
         <i class="fab fa-facebook"></i>
      </li>
      <li>
         <i class="fab fa-twitter"></i>
      </li>
   </ul>


</footer>

 <!-- the script which will contain the iTunesController -->
<script src="./iTunesController.js"></script>

</body>
</html>