<!DOCTYPE html>
<html lang="en" ng-app>
 <head>
 <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <title>AngularJS iTunes</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="https://kit.fontawesome.com/93d605acff.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
 <link rel="stylesheet" href="./styles.css" media='all' rel='stylesheet' type='text/css' >
      <style>
         table {
            margin: 0 auto;
         }
        
      </style>
   <script>

   $(document).on('click', '#voucher', function() {
      //console.log("clicked")
      var $this = $(this),
         $ul = $this.parent().find('> ul');
         $arrow = $('.fa-chevron-down')
         $ul.toggle();

         if ($('#voucher').on('click')) {
           // console.log('?')
            $arrow.toggleClass("rotate");
         }

   });

   </script>
         <style>
            .rotate {
               -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
               -ms-transform: rotate(180deg);
               -o-transform: rotate(180deg);
               transform: rotate(180deg);
            }
          </style>

</head>
<body ng-controller="iTunesController">
<nav>
   <div class="brand">
      <a href="/"><img src="./assets/images/logo.png" alt="logo" id="logo"></a>     
   </div>

   <div class="nav--search">
      <form action="#" name="search" ng-submit="searchiTunes(artist)">
         <!-- Artist/band name required, use the ng-model 
         directive to pass the artist name back into the
         controller/model -->
         <input type="search" required ng-model="artist"  placeholder="&#xF002; Search" style="font-family: Arial, 'FontAwesome'"/>
         <!-- <i class="fa fa-search"></i> -->
         <button type="submit" value="Search"/><i class="fas fa-play"></i></button>
         </form>
   </div>

   <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/search">SEARCH</a></li>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/contact">CONTACT</a></li>
   </ul>   
</nav>

 <!-- use the ng-controller directive to scope
 this body to iTunesController -->
 <div>
   <div class="category">

      <aside class="category-voucher">
       <ul class="list_style"> 
          <li id="voucher"> Voucher <i class="fas fa-chevron-down"></i></li>
          <ul class="children">
            <li id="product_61">
              <input class="wcv_category_check" value="61" type="checkbox" name="product_cat[]" id="in-product_61" data-parsley-multiple="product_cat">
              <label class="selectit" for="in-product_61">iTunes <span style="font-size: 12px; font-weight: 600; color:gray;">(3)</span></label>
          </li>
       </ul>
      </aside>
   
      <aside class="category-voucher--list linear-fade" >
         <div class="list--card">
            <div class="list--card-main">
                <strong> Voucher </strong>
              <p>
               iTunes $5 gift card
              </p> 
            </div>
            
            <div class="list--card-arrow">
               <a href="/checkout"> <i class="fas fa-arrow-right"></i> </a>
            </div>

         </div>
         <div class="list--card">
            <div class="list--card-main">
 
                  <strong> Voucher </strong>
             
              <p>
               iTunes $5 gift card
              </p> 
            </div>
            
            <div class="list--card-arrow">
              <a href="/checkout"> <i class="fas fa-arrow-right"></i> </a>
            </div>

         </div>
         <div class="list--card">
            <div class="list--card-main">
             
                  <strong> Voucher </strong>
       
              <p>
               iTunes $5 gift card
              </p> 
            </div>
            
            <div class="list--card-arrow">
               <a href="/checkout"> <i class="fas fa-arrow-right"></i> </a>
            </div>

         </div>
      </aside>
   </div>

   <div class="showmore">
      
   <button type="#"> Show more  <i class="fas fa-arrow-right"></i></button> 

   </div>

 <!-- show an error if there's a search error -->
 {{ error }}
 <table ng-show="songs" class="search--results">

   <thead>
   <tr>
   <th>Album Artwork</th>
   <th>Track</th>
   <th>Artist name</th>
   <th>Preview&nbsp;</th>
   <th>Price</th>
  
   </tr>
   </thead>
   <tbody>
   <!-- ng-repeat directive to loop over each 
   song in the songs list. -->
   <!-- The song data is loaded into objects for
   easy access. Just call on the attributes
   you need. -->
   <tr ng-repeat="song in songs">
   <!-- ng-src lets you load imgs when data
   is present. -->
     <td><img ng-src="{{song.artworkUrl100}}" alt="{{song.collectionName}}"/></td>
     <td>{{song.trackName}}</td>
     <td>{{song.artistName}}</td>
     <td><a href="{{song.previewUrl}}">Play</a></td>
     <td>{{song.collectionPrice}}</td>
  
  
     </tr>
     </tbody>
     </table>

</div> 
<footer>
   <p>
      2021 (C) COPYRIGHT - GETMEDIA
   </p>
   <ul>
      <li>
        <a href="#"> <i class="fab fa-instagram"></i> </a>
      </li>
      <li>
         <a href="#">  <i class="fab fa-facebook"></i> </a>
      </li>
      <li>
         <a href="#">  <i class="fab fa-twitter"></i> </a>
      </li>
   </ul>
   </footer>
 <!-- the script which will contain the iTunesController -->
<script src="./iTunesController.js"></script>

</body>
</html>